.fade-in {
  transform: translateY(1000px);
  transition:
    opacity 0.4s ease,
    transform 0.8s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.slide-in {
  transform: translateY(1000px);
  transition: transform 1s ease;
}

.slide-in.show {
  transform: translateY(0);
  opacity: 1;
}

.star-pop {
  transform: scale(1.2);
  transition: transform 0.1s ease;
}

.start-pop.active {
  transform: scale(1);
}

#trailer {
  opacity: 0;
  transition: opacity 1s ease;
}

#trailer.visible {
  opacity: 1;
}

.fade-page {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.fade-page.show {
  opacity: 1;
}

/* Loader container */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  z-index: 9999;
  transition: opacity 0.3s ease;
}

#loader.hidden {
  opacity: 0;
  pointer-events: none;
}

/* Circle spinner */
.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #444;
  border-top-color: var(--accent-color2);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#loader p {
  color: white;
  font-size: 1.2rem;
  margin: 0;
}
