@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat:wght@400;500;700&display=swap");

:root {
  font-weight: 400;
  color-scheme: dark;
  --color: rgba(255, 255, 255, 0.87);
  background-color: #1c1c1c;
  --accent-color1: #e67e22;
  --accent-color2: #1abc9c;
  --accent-color3: #9b59b6;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Body text */
body {
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--accent-color2);
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  padding-left: 10px;
  color: var(--accent-color1);
}

h2 {
  padding-left: 30px;
}

body > button {
  display: block;
  font-size: large;
  margin: 10px 0 -10px 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: #111111;
  font-size: large;
}

a {
  font-weight: 500;
  color: var(--color);
  text-decoration: inherit;
}

a:hover {
  color: var(--accent-color2);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

main {
  min-height: 500px;
  padding: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Main header */
#main-header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: black;
}

#main-header div {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding-right: 20px;
}

#main-header img {
  height: 100px;
  width: auto;
}

#main-header a {
  text-decoration: none;
  font-size: x-large;
  margin: auto 0;
  color: var(--color);
}

#main-header a:hover {
  color: var(--accent-color2);
}

/* Search container */
#search-container {
  width: 100%;
  margin-top: 1rem;
}

#search-container form {
  display: flex;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
  gap: 5px;
}

#search-container input {
  width: 70%;
  max-width: 500px;
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #222;
  color: #fff;
  box-shadow: 5px 10px 10px black;
}

#search-container select {
  width: 90px;
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #222;
  color: #fff;
  box-shadow: 5px 10px 10px black;
}

#search-container button {
  margin-left: 0.1rem;
  padding: 0.5rem 0.5rem;
  border: 1px solid #444;
  box-shadow: 4px 8px 8px black;
}

#visits {
  padding-left: 10px;
  font-size: large;
}

/* Containers */
.containers {
  opacity: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: 3rem;
  place-content: center;
  padding-bottom: 20px;
  position: relative;
  min-width: 300px;
}

.containers p {
  text-align: center;
}

.containers div {
  position: relative;
  background-color: #222;
  overflow: hidden;
  border-radius: 8px;
  height: 450px;
  align-self: center;
  box-shadow: 5px 10px 10px black;
}

.containers #poster {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.containers #poster img {
  width: 100%;
  height: 100%;
}

.containers #poster > h3 {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: var(--color);
  font-size: x-large;
  font-weight: 800;
}

.containers #favorite {
  font-size: xx-large;
  margin: 10px;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  color: yellow;
  right: 0px;
}

/* Details container */
#details-container {
  padding: 20px 20px;
  margin: 0 auto;
  place-items: center;
}
.details {
  opacity: 0;
}

/* Movie details */
#movie-details,
#cast-details {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

#movie-details div,
#cast-details div {
  width: 800px;
}

#cast-details img,
#movie-details img {
  width: 300px;
  height: 450px;
  box-shadow: 5px 10px 10px black;
}

#movie-details div h1 {
  padding: 0;
  margin: 0;
}

#movie-details div h2 {
  padding: 0;
  margin: 0;
  margin-bottom: -10px;
}

#movie-details #birthday {
  padding-top: 5px;
}

#details-container > h2 {
  font-size: xx-large;
  text-align: center;
  padding: 0;
}

#movie-details button {
  font-size: 2rem;
  text-align: center;
  padding: 0;
  border: none;
  background-color: transparent;
  color: yellow;
}

#movie-details p:first-of-type {
  margin-bottom: 5px;
}

/* Trailer */
#trailer {
  opacity: 0;
  padding-top: 20px;
  margin: 0 auto;
}

#trailer iframe {
  width: 300px;
  height: 168px;
  box-shadow: 5px 10px 10px black;
  background-color: black;
}

#trailer p {
  opacity: 1;
}

/* Cast */
#cast {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  place-content: center;
  width: 100%;
  gap: 3rem;
  border-radius: 6px;
}

#cast > p {
  text-align: center;
  padding: 0;
}

#cast > div {
  border: 2px solid black;
  width: 200px;
  background-color: black;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 5px 10px 10px black;
}

#cast > div button {
  width: 100%;
  padding: 0;
  overflow: hidden;
}

#cast > div button img {
  width: 100%;
  height: 100%;
  margin-bottom: -5px;
}

#cast > div div p {
  padding: 0;
  padding: 0px 10px;
}

#cast-details h2 {
  padding: 5px 0;
  margin: -10px 0;
}

#cast-details p {
  padding: 5px 0;
  margin: 0;
}

#cast-details h1 {
  padding: 0;
  margin-bottom: -5px;
}

/* Footer */
footer {
  background-color: black;
  margin-top: 3rem;
  padding: 0.5rem 0;
  border-top: 1px solid #333;
  color: var(--color);
  font-size: 0.9rem;
  text-align: center;
}

footer p {
  padding: 0px;
  margin: 10px 0;
}
