@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat:wght@400;500;700&display=swap");

:root {
  font-weight: 400;
  color-scheme: dark;
  --color: rgba(255, 255, 255, 0.87);
  background-color: #1c1c1c;
  --accent-color1: #e67e22;
  --accent-color2: #1abc9c;
  --accent-color3: #9b59b6;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Body text */
body {
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--accent-color2);
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  padding-left: 10px;
  color: var(--accent-color1);
}

h2 {
  padding-left: 30px;
}

a {
  font-weight: 500;
  color: var(--color);
  text-decoration: inherit;
}

a:hover {
  color: var(--accent-color3);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Main header */
#main-header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: black;
}

#main-header div {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding-right: 20px;
}

#main-header img {
  height: 100px;
  width: auto;
}

#main-header a {
  text-decoration: none;
  font-size: x-large;
  margin: auto 0;
  color: var(--color);
}

/* Search container */
#search-container {
  width: 100%;
  margin-top: 1rem;
}

#search-container form {
  display: flex;
  justify-content: center;
  max-width: 700px;
  margin: 0 auto;
  gap: 5px;
}

#search-container input {
  width: 70%;
  max-width: 500px;
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #222;
  color: #fff;
}

#search-container select {
  width: 90px;
  font-size: 0.8rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #222;
  color: #fff;
}

#search-container button {
  margin-left: 0.1rem;
  padding: 0.5rem 0.5rem;
  border: 1px solid #444;
}

/* Containers */
.containers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: 3rem;
  place-content: center;
  padding-bottom: 20px;
}

.containers div {
  position: relative;
  background-color: #222;
  overflow: hidden;
  border-radius: 8px;
  height: 450px;
}

.containers div img {
  width: 100%;
  height: auto;
}

.containers div > a h3 {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: var(--color);
  font-size: x-large;
  font-weight: 800;
}

.containers div button {
  font-size: xx-large;
  margin: 10px;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  color: yellow;
  right: 0px;
}

/* Details container */
#details-container {
  padding: 20px 20px;
  margin: 0 auto;
  place-items: center;
}

/* Movie details */
#movie-details,
#cast-details {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

#movie-details div,
#cast-details div {
  width: 800px;
}

#movie-details div h1 {
  padding: 0;
  margin: 0;
  margin-bottom: -20px;
}

#movie-details div h2 {
  padding: 0;
  margin: 0;
  margin-bottom: -10px;
}

#movie-details #birthday {
  padding-top: 5px;
}

#details-container > h2 {
  font-size: xx-large;
  text-align: center;
  padding: 0;
}

#movie-details button {
  font-size: 2rem;
  margin: 10px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: yellow;
}

#movie-details p:first-of-type {
  margin-bottom: 5px;
}

/* Trailer */
#trailer {
  padding-top: 20px;
  margin: 0 auto;
}

#trailer iframe {
  width: 300px;
  height: 168px;
}

/* Cast */
#cast {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  place-content: center;
  width: 100%;
  gap: 3rem;
  border-radius: 6px;
}

#cast > div {
  border: 2px solid black;
  width: 200px;
  background-color: black;
  border-radius: 12px;
  overflow: hidden;
}

#cast > div a {
  width: 100%;
}

#cast > div a img {
  width: 100%;
  height: auto;
}

#cast > div div p {
  padding: 0;
  padding: 0px 10px;
}

#cast-details h2 {
  padding: 5px 0;
  margin: -10px 0;
}

#cast-details p {
  padding: 5px 0;
  margin: 0;
}

#cast-details h1 {
  padding: 0;
  margin-bottom: -5px;
}

/* Footer */
footer {
  background-color: black;
  margin-top: 3rem;
  padding: 0.5rem 0;
  border-top: 1px solid #333;
  color: var(--color);
  font-size: 0.9rem;
  text-align: center;
}

footer p {
  padding: 0px;
  margin: 10px 0;
}

/* Media queries */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (min-width: 400px) {
  #trailer iframe {
    width: 350px;
    height: 196px;
  }
}

@media (min-width: 600px) {
  #trailer iframe {
    width: 560px;
    height: 315px;
  }
}
